.barCon {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 0px 0px 60px 0px;
  padding-top: 60px;
  color: white;
}

.bar {
  background-color: rgba(0,0,0,0.7);
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 700px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-top: 12px;
}

.BsArrow {
  margin: 0px 6px 0px 24px;
}

.BsArrow:hover{
  cursor: pointer;
}

.text {
  font-size: 36px;
  letter-spacing: 2px;
  margin-right: 24px;
}

.tech {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  max-width: 50%;
}

.techCon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.pCI {
  margin: 12px;
}

.tech {
  position: relative;
  max-height: 100%;
}

.pCpage {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.imgCon {
  min-width: 50%;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  max-width: 400px;
  max-height: 400px;
  align-items: center;
}

.imgCon img {
  object-fit: cover;
}

.projectsLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.projectsLinks button {
  border-color: rgba(255,0,0,0.7);
  background-color: transparent;
  border-width: 2px;
  color: rgba(255, 0, 0,0.7);
  width: 120px;
  height: 40px;
  border-radius: 2px;
}

.projectsLinks button:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}


.textCon {
  padding: 50px 40px 50px 40px;
  font-size: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 50%;
}

.para {
  text-align: center;
  width: 80%;
  word-wrap: normal;
  font-size: 26px;
}

@media only screen and (max-width: 1300px) {
  .title {
    width: 90%;
  }
  .pCpage {
    width: 90%;
  }
}

@media only screen and (max-width: 1500px) {
  .imgCon {
    padding-top: 50px;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 1200px) {
  .pCpage {
    flex-direction: column;
    align-items:   center;
  }

  .bar {
    height: auto;
    max-height: 1200px;
  }

  .textCon {
    padding-top: 0px;
  }

  .imgCon {
    width: 100%;
    object-fit: cover;
    }
  .title {
    flex-direction: column;
  }
  .tech {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 750px) {
  .bar {
    height: auto;
    max-height: 1200px;
  }
  .para {
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .tech {
    flex-direction: column;
  }

  .text {
    text-align: center;
  }
}
