body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin: auto;

}

.App {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.karuzela {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active img {
  width: 100%;
}

.arrow {
  position: relative;
  flex-grow: 1;
}

.active {
  height: 400px;
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.active img {
  object-fit: cover;
}
