body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin: auto;

}

.App {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
